body {
    background-color: #12a4d9;
    color: white;
    font-family: 'Fredoka One', cursive;
}

.control-panel {
    width: 200px;
    margin: 20px auto;
}

button {
    font-family: inherit;
}

.grid {
    margin: auto auto;
    display: flex;
    width: 600px;
    height: 600px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: white;
}